
.hupumoyu-loading {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
	width: 100%;
	height: 100%;
	background: rgb(37 37 37 / 60%);
	display: flex;
	justify-content: center;
	align-items: center;
}