.hupumoyu-postDetail img,
.hupumoyu-postDetail video {
    cursor: pointer;
    display: block;
}

.hupumoyu-postDetail img.hide {
    opacity: 0;
    display: block;
}

.hupumoyu-postDetail video.hide {
    opacity: 0;
}

.hupumoyu-postDetail img.show,
.hupumoyu-postDetail video.show {
    opacity: 1;
}

.hupumoyu-content-box {
    overflow-y: auto;
    position: relative;
    z-index: 1;
    .hupumoyu-content-reply {
        .hupumoyu-content-reply-item {
            border-top: 1px solid var(--vscode-foreground);
            transition: 0.4s ease all;
            position: fixed;
            z-index: 2;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 0%;
            background-color: var(--vscode-editor-background);
            display: flex;
            flex-direction: column;
            &.open {
                height: 60%;
            }
            .hupumoyu-post-wrapper-title {
                text-align: center;
                position: relative;
                z-index: 3;
                margin: 10px 0;
                .hupumoyu-content-reply-close {
                    position: absolute;
                    right: 10px;
                    top: 0;
                    z-index: 4;
                    cursor: pointer;
                }
            }
            .hupumoyu-post-wrapper-content {
                flex: 1;
                overflow-y: auto;
            }
        }
    }
}

.hupumoyu-content-box.hide {
    display: none;
}

/* 帖子标题盒子 */
.hupumoyu-content-box .hupumoyu-title {
    margin: 10px 0;
}

.hupumoyu-content-box .hupumoyu-title p {
    margin-bottom: 10px;
}

.hupumoyu-post-wrapper-title {
    margin-bottom: 10px;
    text-align: center;
}

.hupumoyu-content-light {
    margin-top: 20px;
    border: 1px dashed;
    padding: 10px;
}

.hupumoyu-content-gray {
    margin-top: 20px;
    border: 1px solid;
    padding: 10px;
}

.hupumoyu-post-wrapper-content .post-reply-list {
    border-bottom: 1px solid;
    padding-bottom: 10px;
    margin-bottom: 10px;

    .discuss-card__header {
        margin-bottom: 12px;
        display: flex;
        max-width: -webkit-max-content;
        max-width: -moz-max-content;
        max-width: max-content;

        .discuss-card__avatar {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            overflow: hidden;
            background-size: cover;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    .discuss-card__quote-container {
        margin-left: 44px;
        margin-bottom: 8px;
        padding: 8px;
        background-color: #262626;
        border-radius: 2px;

        .discuss-card__quote-container-quote {
            padding-left: 8px;
            position: relative;
            font-size: 14px;
            line-height: 22px;
            font-family: PingFangSC-Regular, PingFang SC, Helvetica Neue, Helvetica, STHeiTi, sans-serif;
            font-weight: 400;
            color: #89909f;

            .discuss-card__quote-container-discusser {
                color: #2f6eeb;
            }

            p {
                margin-bottom: 10px;
            }
        }
    }

    .discuss-card__content-container {
        margin-left: 44px;

        p {
            margin-bottom: 10px;
        }

        img {
            display: block;
        }
    }

    .discuss-card__actions {
        margin-left: 44px;
        display: flex;

        .discuss-card__actions-item {
            display: flex;
            align-items: center;
            margin-right: 18px;

            span {
                margin-left: 4px;
                font-size: 12px;
                line-height: 17px;
                font-family: PingFangSC-Regular, PingFang SC, Helvetica Neue, Helvetica, STHeiTi, sans-serif;
                font-family: Helvetica;
                font-weight: 400;
            }
        }
    }

    .discuss-card__header-right {
        margin-left: 12px;
    }

    .discuss-card__user {
        display: flex;
        align-items: center;

        .discuss-card__username {
            font-size: 14px;
            line-height: 18px;
            font-family: PingFangSC-Regular, PingFang SC, Helvetica Neue, Helvetica, STHeiTi, sans-serif;
            font-weight: 400;
            color: #6c717d;
        }
    }

    .discuss-card__time {
        margin-top: 2px;
        font-size: 11px;
        line-height: 12px;
        font-family: PingFangSC-Regular, PingFang SC, Helvetica Neue, Helvetica, STHeiTi, sans-serif;
        font-weight: 400;
        color: #89909f;
    }

    .discuss-card__ip {
        margin-top: 2px;
        font-size: 11px;
        line-height: 12px;
        font-family: PingFangSC-Regular, PingFang SC, Helvetica Neue, Helvetica, STHeiTi, sans-serif;
        font-weight: 400;
        color: #89909f;
    }
}

.basketballTobbs_tag,
.reply-list-avatar,
.user-operate,
.seo-dom {
    display: none;
}

.post-reply-list-user-info-top-name {
    margin-right: 10px;
}

.post-reply-list-operate {
    display: flex;
    margin-top: 10px;
}

.post-reply-list-operate .todo-list {
    margin-right: 10px;
    display: none;
}

.post-reply-list-operate .todo-list.light {
    visibility: visible;
    display: flex;
    display: block;
}

.post-reply-list-operate .todo-list.light .todo-list-text {
    margin-left: 5px;
}

.post-reply-list-operate .todo-list.todo-list-replay {
    cursor: pointer;
    display: block;
}

.bbs-thread-comp-container {
    padding: 10px;
    margin: 15px;
    border: 1px solid;
    background-color: initial !important;
}

.bbs-thread-comp-container .reply-thread {
    margin-top: 10px;
}

.user-base-info {
    margin-bottom: 10px;
}

/* 查看评论 */
.reply-list-item-box {
    margin-top: 10px;
    margin-left: 10px;
    padding: 0 10px;
    border: 1px dashed;
}

.reply-list-item-box .reply-list-item {
    margin: 10px 0;
    border-top: 1px solid;
}

.reply-list-item-box .reply-list-item:first-child {
    border-top: none;
}

.reply-list-item-box .reply-list-item .reply-list-item-title {
    margin-top: 10px;
}

.reply-list-item-box .reply-list-item .reply-list-item-content {
    margin: 10px 0;
}

.reply-list-item-box .reply-list-item .reply-list-item-light {
    margin-bottom: 10px;
}

/* 帖子内容 */
.hupumoyu-content-main {
    margin-bottom: 10px;
}

/* 图片元素的父级 */
.hupumoyu-img-conver {
    position: relative;
    z-index: 1;
}

.hupumoyu-img-conver img,
.hupumoyu-img-conver video {
    position: relative;
    z-index: 3;
    display: block;
}

.hupumoyu-img-conver::after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 1px dashed;
    z-index: 2;
    content: '点击显示图片';
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.6;
}

.hupumoyu-pagination-hide {
    position: absolute;
    left: -9999999999px;
    top: 0;
    z-index: 0;
    opacity: 0;
}

.hupumoyu-pagination {
    display: flex;
}

.hupumoyu-pagination .hupumoyu-pagination-item {
    flex: 1;
    outline: none;
}

.hupu-bbs-post .hupu-img .bbs-img {
    position: relative;
    width: 100%;
    min-height: 100px;
}

.hupu-bbs-post .bbs-content img {
    background-color: #f6f7f9;
    width: 100%;
    height: 100%;
    border-radius: 2px;
}

.header-video-wrapper {
    margin: 8px 0;
    position: relative;
    z-index: 1;
    text-align: center;
}

.header-video-wrapper .hupu-post-video {}

.header-video-wrapper .hupu-post-video-poster {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 2;
}