.hupumoyu-body img {
    cursor: pointer;
}

.hupumoyu-body img.hide {
    opacity: 0;
    width: 100%;
    height: 100px;
}

.hupumoyu-body img.show {
    opacity: 1;
}

.hupumoyu-content-box {}

.hupumoyu-body .players_table {
    width: 100%;
}

.hupumoyu-body .hp-threeNav {
    display: none;
}

.hupumoyu-body .table_data .titles_font {}

.hupumoyu-body .top_tables .t1 {
    padding: 5px;
}

.hupumoyu-body .top_tables {
    display: flex;
}

.hupumoyu-body .table_data .titles_font span {
    padding: 5px;
}