body {
	background-color: transparent;
}

.hupumoyu-module-title {
	margin: 0;
	text-align: center;
	padding: 5px 0;
}

.hupumoyu-module-title .hupumoyu-module-type {
	cursor: pointer;
}

.hupumoyu-module-list-box {
	margin: 0 -20px 0 0;
	padding: 0;
	overflow: auto;
	visibility: hidden;
}

.hupumoyu-module-list-box .hupumoyu-module-list {
	margin: 0 10px 0 0;
	padding: 0;
	visibility: visible;
}

.hupumoyu-module-list,
.hupumoyu-module-list-box:hover,
.hupumoyu-module-list-box:focus {
  visibility: visible;
}

.hupumoyu-module-list-box .hupumoyu-module-list .hupumoyu-module-item {
	margin-bottom: 5px;
	cursor: pointer;
}

.hupumoyu-module-list .hupumoyu-module-item .hupumoyu-module-item-desc {
	opacity: 0.6;
	padding: 0 8px;
}

.hupumoyu-module-page {
	display: flex;
	margin: 0;
}

.hupumoyu-module-page .hupumoyu-module-page-item {
	text-align: center;
	padding: 5px 0;
}

.hupumoyu-module-page .hupumoyu-module-page-item.prev,
.hupumoyu-module-page .hupumoyu-module-page-item.next {
	flex: 1;
	cursor: pointer;
}